img {
  width: 500px;
}

.header {
    background-color: #228B22;
    color: #fff;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.header-math {
  background-color: lightblue;
  color: fff;
  margin-bottom: 2rem;
  padding: 2rem 7rem;
  text-align: left;
}

.header-type {
  background-color: #9370DB;
  color: fff;
  margin-bottom: 2rem;
  padding: 2rem 7rem;
  text-align: left;
}

.header-quiz {
  background-color: lightgreen;
  color: fff;
  margin-bottom: 2rem;
  padding: 2rem 7rem;
  text align: center;
}

.header-mine {
  background-color: darkgray;
  color: fff;
  margin-bottom: 2rem;
  padding: 2rem 7rem;
  text-align: center;
}

.footer {
    background-color: #fff;
    color: #000;
    margin-top: 4rem;
    padding: 2rem 1rem;

}

.a {
    text-decoration: none;
    color: inherit;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


.button-reset {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height:70px;
}

.custom-btn-outline {
  color: #9370DB;
  border-color: #9370DB;
}

.custom-btn-outline:hover {
  color: #000;
  background-color: #9370DB;
}

.overlay {
    position: fixed;
    top: 120px;
    left: -100%;
    width: 40%;
    height: 100%;
    background: #fff;
    z-index: 999;
    transition: left 0.3s ease;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: #000;
    overflow-y: auto;
    padding-bottom: 150px;
}

.overlay-btn {
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 1000;
}


.overlayM {
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 60%;
  background: #d3d3d3;
  z-index: 999;
  transition: bottom 0.3s ease;
}

.overlay-contentM {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: #000;
  overflow-y: auto;
  padding-bottom: 150px;
}

.ans {
  margin: auto;
  display: block;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: auto;
  text-align: center;
  font-size: 30px;
}

.text-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}


.permanent-highlight span {
  background-color: green;
  display: inline-block;
}

.text-box {
  width: 100%;
  height: 150px;
}

.mine-size {
  margin: left;
  width: 100px;
  text-align: left;
  font-size: 30px;
  border-bottom-width: thick;
}

.mine-pice {
  background-color: gray;
}

.cell {
  width: 27px;
  height: 27px;
  padding: 0;
  margin: 0;
  border: 1px solid #888;
  background-color: #666666;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 0;
}

.cell:hover {
  background-color: #aaa;
}

.cell:active {
  background-color: #888;
}

.clicked {
  width: 27px;
  height: 27px;
  padding: 0;
  margin: 0;
  border: 1px solid #888;
  background-color: #cccccc;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  text-align: center;
  line-height: 25px;
  color: blue;
}

.clicked:hover {
  background-color: #cccccc;
}

.clicked:active {
  background-color: #cccccc;
}

.clicked-bomb {
  background-color: black;
}

.clicked-blank {
  background-color: #cccccc;
}
.flag{
  background-color: red;
}

.overlayW {
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 60%;
  z-index: 999;
  transition: bottom 0.3s ease;
}

.overlayL {
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 60%;
  z-index: 999;
  transition: bottom 0.3s ease;
}

.overlay-content-mineW {
  position: absolute;
  width: 100%;
  height: 100%;
  color: yellow;
  font-size: 8em !important;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
  overflow-y: auto;
  padding-bottom: 150px;
  text-align: center;
}

.overlay-content-mineL {
  position: absolute;
  width: 100%;
  height: 100%;
  color: red;
  font-size: 8em !important;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  overflow-y: auto;
  padding-bottom: 150px;
  text-align: center;
}

.buttonP {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: #f2f2f2;
  cursor: pointer;
  line-height: 15px;
}

.off {
  color: transparent !important;
}


.periodic-table .container-quiz {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-quiz-btn-outline {
  color: lightgreen;
  border-color: lightgreen;
}

.custom-quiz-btn-outline:hover {
  color: #000;
  background-color: lightgreen;
}

.custom-quiz-reset-btn-outline {
  color: lightgreen;
  background-color: white;
}

.alkaliMetals {
  background-color: #ff6666;
  color: #8B0000;
}

.alkaliMetals .atomic-number,
.alkaliMetals .atomic-mass,
.alkaliMetals .element-name {
  color: inherit;
}


.alkalineEarthMetals {
  background-color: #ffe699;
  color: #DAA520;
}

.alkalineEarthMetals .atomic-number,
.alkalineEarthMetals .atomic-mass,
.alkalineEarthMetals .element-name {
  color: inherit;
}

.transitionMetals {
  background-color: #66ccff;
  color: #00008B;
}

.transitionMetals .atomic-number,
.transitionMetals .atomic-mass,
.transitionMetals .element-name {
  color: inherit;
}

.postTransitionMetals {
  background-color: #9966cc;
  color: #4B0082;
}

.postTransitionMetals .atomic-number,
.postTransitionMetals .atomic-mass,
.postTransitionMetals .element-name {
  color: inherit;
}

.metalloids {
  background-color: #cc9966;
  color: #654321;
}

.metalloids .atomic-number,
.metalloids .atomic-mass,
.metalloids .element-name {
  color: inherit;
}

.reactiveNonMetals {
  background-color: #66ff66;
  color: #008000;
}

.reactiveNonMetals .atomic-number,
.reactiveNonMetals .atomic-mass,
.reactiveNonMetals .element-name {
  color: inherit;
}

.nobleGases {
  background-color: #ffcce6;
  color: #8B008B;
}

.nobleGases .atomic-number,
.nobleGases .atomic-mass,
.nobleGases .element-name {
  color: inherit;
}

.lanthanides {
  background-color: #ffb366;
  color: #FF6600;
}

.lanthanides .atomic-number,
.lanthanides .atomic-mass,
.lanthanides .element-name {
  color: inherit;
}

.actinides {
  background-color: #ff8c40;
  color: #8B4500;
}

.actinides .atomic-number,
.actinides .atomic-mass,
.actinides .element-name {
  color: inherit;
}

.unknownProperties {
  background-color: #cccccc;
  color:  #333333;
}

.unknownProperties .atomic-number,
.unknownProperties .atomic-mass,
.unknownProperties .element-name {
  color: inherit;
}


.atomic-number {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 10px;
}

.atomic-mass {
  text-align: left !important;
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 10px;
}

.element-symbol {
    font-size: 18px;
    font-weight: bold;
}

.element-name {
  font-size: 7px;
  color: white;
}

.atomic-number-big {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 20px;
}


.atomic-mass-big {
  text-align: left !important;
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 20px;
}

.element-symbol-big {
    font-size: 36px;
    font-weight: bold;
}

.element-name-big {
  font-size: 15px;
}

.buttonP-big {
  z-index: 1000;
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  top: -100%;
  left: -100%;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  cursor: pointer;
  line-height: 30px;
}

.info {
  z-index: 1000;
  position: absolute;
  width: 580px;
  height: 150px;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 40%;
  border: 4px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}